<a href="https://colab.research.google.com/github/DannyJS-933/Python_First_code/blob/main/EjercicioNumpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercises

#### Create an array from 0 to 26 assign it to a variable x

#### Reverse the order of the array and print it out

#### Convert the 1-dimensional array you created into a 3 dimensional array

#### Find the index (location) for value 12

#### Create a random shuffled list of values from 0-19 and assign it to variable y

#### Create an array of boolean values for values in y that are greater than 10

#### Create a random sample of 20 data points from a normal distribution with mean of 10 and standard deviation 5

Calcular el precio final de un arreglo de precio si el descuento es el 15%

In [ ]:
precio = np.array([2100,150,400,300,150])